Test/Bai1/App.config
Test/Bai1/Properties/
Test/Bai2/App.config
Test/Bai2/Properties/
Test/Bai3/App.config
Test/Bai3/Properties/
Test/Bai4/App.config
Test/Bai4/Properties/
Test/Bai1/Debug/
Test/Bai2/Debug/
Test/Bai3/Debug/
Test/Bai4/Debug/

