Test/Bai 1/obj/Debug/Bai 1.csproj.AssemblyReference.cache
Test/Bai 1/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Test/Bai 2/obj/Debug/Bai 2.csproj.AssemblyReference.cache
Test/Bai 2/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Test/Bai 3/obj/Debug/Bai 3.csproj.AssemblyReference.cache
Test/Bai 3/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Test/Bai 4/obj/Debug/Bai 4.csproj.AssemblyReference.cache
Test/Bai 4/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
